/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
  text-align: justify;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  height: auto;

}
/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}


.item {
  align-self: stretch;
  flex: 1;
  margin: 10px;
  align-self: center;
}

/*item to take up 2x flex */
.item-double {
  flex: 2;
  margin: 10px;

}


/* -------  Navigation ------- */

header {
  color: #fff;
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  margin: 0;
  padding-top: 20px;
  text-align:center;
}


header nav {
  display: flex;
  justify-content: center;
}


.logo {
  font-family: "Pangolin", cursive;
  font-size: 57px;
  color: #fff;
  margin: 0px;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}


header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  display: flex;
  flex-direction: column;
  border: 2px solid #ff385c;
  padding: 10px;
  justify-content: space-between;
}

form div {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

form label {
  font-weight: bold;
  margin: 5px;
}

form select,
form input {
  margin:5px;
  padding: 5px;
  width: 140px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
/* When a web browser is larger than 768 pixels,
   apply these rules. */
   @media all and (min-width: 768px) {
    header {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
    }
  
    .logo {
      font-size: 42px;
    }

    header h1 {
      margin: 14px 0;
      padding-top: 0;
    }

    form {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    form div {
      margin: 0px;
      display: flex;
      flex-direction: column;
    }

/* reduce padding for larger screen view*/    

    form select,
    form input {
    margin:0px;
    padding: 0px;
}

/*limit size of button */
    form button {
      font-size: 18px;
      max-width: 110px;
    }

    .group {
      flex-direction: row;
    }


  }
